@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) theme(inline);
@import 'tailwindcss/utilities.css' layer(utilities) source(none);

@source "../js/**/*.js";
@source "../views/**/*.blade.php";

[x-cloak] {
    display: none !important;
}

@variant dark (&:where(.dark, .dark *));
