@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import 'tailwindcss' source(none);

@source "../views/**/*.blade.php";
@source "../js/**/*.js";
@source '../../storage/framework/views/*.php';

[x-cloak] {
    display: none !important;
}

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));
